@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}

// @mixin on-tablet {
//   @media screen and (min-width: $tablet), print {
//     @content;
//   }
// }

// @mixin on-mobile {
//   @media screen and (min-width: $tablet), print {
//     @content;
//   }
// }

@mixin delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;

  &:before,
  &:after {
    background-color: $white;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }

  &:before {
    height: 2px;
    width: 50%;
  }

  &:after {
    height: 50%;
    width: 2px;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.4);
  }

  // Sizes
  &.is-small {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
  }

  &.is-medium {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
  }

  &.is-large {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
  }
}

// $control-radius: $radius !default;
// $control-radius-small: $radius-small !default;

// $control-padding-vertical: calc(0.375em - 1px) !default;
// $control-padding-horizontal: calc(0.625em - 1px) !default;

// @mixin control {
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   align-items: center;
//   border: 1px solid transparent;
//   border-radius: $control-radius;
//   box-shadow: none;
//   display: inline-flex;
//   font-size: $size-normal;
//   height: 2.25em;
//   justify-content: flex-start;
//   line-height: 1.5;
//   // padding-bottom: $control-padding-vertical;
//   // padding-left: $control-padding-horizontal;
//   // padding-right: $control-padding-horizontal;
//   // padding-top: $control-padding-vertical;
//   position: relative;
//   vertical-align: top;

//   // States
//   &:focus,
//   &.is-focused,
//   &:active,
//   &.is-active {
//     outline: none;
//   }

//   &[disabled] {
//     cursor: not-allowed;
//   }
// }

// // The controls sizes use mixins so they can be used at different breakpoints
// @mixin control-small {
//   border-radius: $control-radius-small;
//   font-size: $size-small;
// }

// @mixin control-medium {
//   font-size: $size-medium;
// }

// @mixin control-large {
//   font-size: $size-large;
// }

// @mixin placeholder {
//   $placeholders: ':-moz' ':-webkit-input' '-moz' '-ms-input';

//   @each $placeholder in $placeholders {
//     &:#{$placeholder}-placeholder {
//       @content;
//     }
//   }
// }

// @mixin arrow($color) {
//   border: 1px solid $color;
//   border-right: 0;
//   border-top: 0;
//   content: ' ';
//   display: block;
//   height: 0.5em;
//   pointer-events: none;
//   position: absolute;
//   transform: rotate(-45deg);
//   transform-origin: center;
//   width: 0.5em;
// }

// @mixin loader {
//   animation: spinAround 500ms infinite linear;
//   border: 2px solid $border;
//   border-radius: 290486px;
//   border-right-color: transparent;
//   border-top-color: transparent;
//   content: '';
//   display: block;
//   height: 1em;
//   position: relative;
//   width: 1em;
// }

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
