$light-gray: #9da5b4;
$white: #d7dae0;
$dark: #21252b;
$dark-gray: #31363f;
$light: #9da596;
$link: #336699;
$red: #bf360c;

$text-light: #fff;

$grey: $light-gray;

$side-bar-width: 500px;
$header-height: 90px;

$background: $dark-gray;
$border: $light-gray;

$radius-large: 6px;
$text-strong: bold;

$size-4: 16px;

$tablet: 1024px;
$mobile: 480px;

$radius: 3px;
$radius-small: $radius;
$white-ter: #eaeaea;

$weight-bold: 700;
$size-small: 12px;
$size-normal: 14px;
$size-medium: 15px;
$size-large: 16px;

$color: $link;
$color-invert: $dark-gray;
